<table border="0">
  <tr><td><strong>From:</strong> <%= params[:contact]["name"] %> ( <%= params[:contact]["email"] %> )</td></tr>
  <tr><td><strong>Message:</strong> <%= params[:contact]["message"] %></td></tr>
</table>