#about.section
  %h2.section_heading About
  .content
    %h3 About HyperboleDesign
    %p.desc Hi my name is Jake Dahn, and I started Hyperbole Design in 2005 as a way to further my skills in design. Since then, as the web has evolved, my main focus has switched mostly to web development and programming.
    %p.desc
      In 2010 I started working with
      %a{:href => "http://www.ansolabs.com/", :target => "_blank", :title => "Anso Labs"} AnsoLabs
      on
      = succeed "," do
        %a{:href => "http://nebula.nasa.gov/", :target => "_blank", :title => "NASA Nebula - Cloud Computing"} NASA's Nebula Project
      as an interface designer and developer. Much of my work has been open sourced and I have hopes that it will become a first class citizen of the
      %a{:href => "http://www.openstack.org/", :target => "_blank", :title => "OpenStack Open Source Cloud Computing Software"} OpenStack
      project. If you would like to see some of my other open source projects you should check out my
      = succeed "." do
        %a{:href => "http://github.com/jakedahn", :target => "_blank", :title => "Jake Dahn's Github Account"} Github account
    %p.desc 
      I've created this portfolio as a way to showcase some of my favorite projects, or at least the ones I've had the most fun working on. If you would like to work with me, please feel free to drop me a line via the 
      %a{:href => "#contact"} contact form
      below.
#work.section
  %h2.section_heading Work
  
  #nasa.work_item
    .meta
      %h3 NASA Nebula Dashboard
      %p.desc 
        %a{:href => "http://nebula.nasa.gov", :target => "_blank", :title => "NASA Nebula"} Nebula
        is an open-source cloud computing project developed to provide an alternative to the costly construction of building additional data centers whenever a NASA scientist or engineer requires additional data processing. 
      %p.desc I helped to redesign, build, and re-factor much of the Nebula Dashboard. I was responsible for redesigning and building the new frontend codebase, in addition to adding features to the backend Django application.
      .meta_block
        %h4 Roles:
        %ul.skills
          %li Backend Developer
          %li Interface Designer
          %li Frontend Developer
      .meta_block
        %h4 Tech:
        %ul.skills
          %li HTML+CSS
          %li Python
          %li Django
          %li OpenStack
    .images
      .left
        %img.large{:alt => "NASA Nebula Dashboard Images Detail View.", :src => "/images/nebula/main1.jpg"}/
      .right
        %img.small{:alt => "NASA Nebula Dashboard Home View (logged in).", :src => "/images/nebula/sub1.jpg"}/
        %img.small{:alt => "NASA Nebula Dashboard Keys Management View.", :src => "/images/nebula/sub2.jpg"}/
  
  #openstack.work_item
    .meta
      %h3 OpenStack Dashboard
      %p.desc 
        %a{:href => "http://nebula.nasa.gov", :target => "_blank", :title => "NASA Nebula"} OpenStack
        is a collection of open source technologies delivering a massively scalable cloud operating system.
      %p.desc In February 2010, as part of the effort to make it easy for OpenStack community members to manage and monitor their own cloud, I worked on the refactoring of much of the CSS and general style of the Nebula Dashboard for open source release. I created a generic interface which can be quickly rebranded and adapted for the needs of anybody looking to have a dashboard for their OpenStack cloud.
      .meta_block
        %h4 Roles:
        %ul.skills
          %li Backend Developer
          %li Interface Designer
          %li Frontend Developer
      .meta_block
        %h4 Tech:
        %ul.skills
          %li HTML+CSS
          %li Python
          %li Django
          %li OpenStack
    .images
      .left
        %img.large{:alt => "OpenStack Dashboard Volumes Management View.", :src => "/images/openstack/main1.jpg"}/
        %img.large{:alt => "OpenStack Dashboard Instance Detail View.", :src => "/images/openstack/main2.jpg"}/
      .right
        %img.small{:alt => "OpenStack Dashboard Project Permissions Management View.", :src => "/images/openstack/sub1.jpg"}/
        %img.small{:alt => "OpenStack Dashboard Home View (logged out).", :src => "/images/openstack/sub3.jpg"}/
        %img.small{:alt => "OpenStack Dashboard Home View (logged in).", :src => "/images/openstack/sub2.jpg"}/
        %img.small{:alt => "OpenStack Dashboard Keys Management View.", :src => "/images/openstack/sub4.jpg"}/

  #gfda.work_item
    .meta
      %a.view_site{ :href => "http://goodfuckingdatingadvice.com", :target => "_blank", :title => "Good Fucking Dating Advice"} View Site &rarr;
      %h3 Good Fucking Dating Advice
      %p.desc Good Fucking Dating Advice was a fun and simple web application built using Ruby on Rails. The site was created to be dual-purposed; the first goal was to share the dating wisdom of the internet and the second goal was to build the site as a gift for my lucky lady friend.
      .meta_block
        %h4 Roles:
        %ul.skills
          %li Frontend Developer
          %li Backend Developer
      .meta_block
        %h4 Tech:
        %ul.skills
          %li HTML+CSS
          %li Ruby
          %li Ruby on Rails
    .images
      .left
        %img.large{:alt => "Good Fucking Dating Advice About Page.", :src => "/images/gfda/main.jpg"}/
      .right
        %img.small{:alt => "Good Fucking Dating Advice Home Page.", :src => "/images/gfda/sub2.jpg"}/
        %img.small{:alt => "Good Fucking Dating Advice Submission Page.", :src => "/images/gfda/sub1.jpg"}/
  #gfda_iphone_app.work_item
    .meta
      %h3 Good Fucking Dating Advice iPhone App
      %p.desc Everyone has been on a date which has gone horribly wrong. This is why I created the Good Fucking Dating Advice mobile application. I created it using Appcelerator Titanium and it runs on both Apple's iOS devices as well as Google's Android phones.
      .meta_block
        %h4 Roles:
        %ul.skills
          %li Interface Designer
          %li Mobile Developer
      .meta_block
        %h4 Tech:
        %ul.skills
          %li Titanium
          %li JavaScript
          %li iOS Development
          %li Android Development
    .images
      .left
        %img{:alt => "Good Fucking Dating Advice iPhone Application 'her' Screen.", :src => "/images/gfda-iphone/sub1.png"}/
        %img.last{:alt => "Good Fucking Dating Advice iPhone Application 'his' Screen.", :src => "/images/gfda-iphone/sub2.png"}/
      .right
        %img{:alt => "Good Fucking Dating Advice iPhone Application Splash Screen.", :src => "/images/gfda-iphone/main.png"}/
  #mustache.work_item
    .meta
      %h3 Mustache.me
      %a.view_site{ :href => "http://mustache.me", :target => "_blank", :title => "Mustache.me"} View Site &rarr;
      %p.desc Mustache.me is a personal project created purely for fun. The goal of the project was to learn how to deploy Sinatra applications, in addition to learning more about the ImageMagick API. A new version of this site will be launched later this spring in 2011; like a boss...
      .meta_block
        %h4 Roles:
        %ul.skills
          %li Backend Developer
          %li Interface Designer
          %li Frontend Developer
      .meta_block
        %h4 Tech:
        %ul.skills
          %li HAML+SASS
          %li Ruby
          %li Sinatra
          %li AJAX+jQuery
    .images
      .left
        %img.small{:alt => "Mustache.me Single View Page.", :src => "/images/mustache/main.jpg"}/
      .right
        %img.large{:alt => "Mustache.me Homepage.", :src => "/images/mustache/sub1.jpg"}/
  #liferules.work_item
    .meta
      %h3 LifeRules.me
      %a.view_site{ :href => "http://liferules.me", :target => "_blank", :title => "Life Rules"} View Site &rarr;
      %p.desc LifeRules.me is a personal project to collect and curate thousands of personal life rules for the creation of a self designed and published book. The application was built using Ruby on Rails and the all of the html and css were hand written in the form of Haml and Sass.
      .meta_block
        %h4 Roles:
        %ul.skills
          %li Frontend Developer
          %li Interface Design
          %li Backend Developer
      .meta_block
        %h4 Tech:
        %ul.skills
          %li Haml+Sass
          %li CSS3
          %li Ruby
          %li Ruby on Rails
    .images
      .left
        %img.large{:alt => "LifeRules.me Homepage.", :src => "/images/liferules/main.jpg"}/
      .right
        %img.small{:alt => "LifeRules.me Single View Page.", :src => "/images/liferules/sub1.jpg"}/
        %img.small{:alt => "LifeRules.me About Page.", :src => "/images/liferules/sub2.jpg"}/
  #contact.section
    %h2.section_heading Contact
    %h3 Contact HyperboleDesign
    %form#contact_form{"accept-charset" => "utf-8", :action => "/contact", :method => "post"}
      %fieldset
        %label{:for => "name"} Name
        %input#name{:name => "contact[name]", :type => "text", :value => ""}/
        %label{:for => "email"} Email
        %input#email{:name => "contact[email]", :type => "text", :value => ""}/
        %label{:for => "email"} Message
        %textarea#message{:cols => "40", :name => "contact[message]", :rows => "8"}
        %input{:type => "submit", :value => "Say hello."}/
    #social_media
      %h3 Connect
      %ul
        %li
          %a{:href => "/JakeDahn.vcf"} Download vCard
        %li
          %a{:href => "http://twitter.com/jakedahn", :target => "_blank", :title => "Follow Jake Dahn on Twitter."} Twitter
        %li
          %a{:href => "http://www.linkedin.com/in/jakedahn", :target => "_blank", :title => "Find Jake Dahn on LinkedIn."} LinkedIn
        %li
          %a{:href => "http://delicious.com/jakedahn", :target => "_blank", :title => "See what Jake Dahn bookmarks on Delicious."} Delicious
  #resume.section
    %h2.section_heading Resume
    %h3 Experience of Jake Dahn
    %ul#jobs
      %li.job
        %h4 Overstimulate, LLC + Anso Labs
        %h5 Web Developer
        %h6 October 2009 &mdash; present
        %p
          Worked as an interface designer, frontend developer, and backend developer using Python/Django for the majority of my work. Helped design and build the dashboard interface for NASA's Nebula project as well as the first iterations of the open source dashboard interface for the
          %a{:href => "http://openstack.org", :target => "_blank"} OpenStack
          project.
      %li.job
        %h4 HyperboleDesign
        %h5 Freelance Web Developer
        %h6 February 2006 &mdash; present
        %p Worked as a freelance web developer with various small to medium sized companies. I specialized in frontend development (html/css/js).
      %li.job
        %h4 Grandpa-George
        %h5 Web Designer / Developer
        %h6 July 2008 &mdash; September 2009
        %p Worked as a well-rounded web developer doing design, frontend development, backend development, and server administration.
      %li.job
        %h4 Flock
        %h5 Intern / Volunteer QA
        %h6 November 2005 &mdash; July 2006
        %p This included working on general Quality Assurance (ie. software testing, managing and maintaining the bug tracker), in addition to helping out with small tasks related to documentation and support.
    .right
      #education
        %h4 Art Institutes International Minnesota
        %h5 B.S. Web Design &amp; Interactive Media (computer science + graphic design)
        %h6 March 2011
      .skillset
        %h4 Programming Languages
        %ul
          %li HTML
          %li CSS
          %li JavaScript
          %li Ruby
          %li Python
          %li PHP
      .skillset
        %h4 Familiar Frameworks
        %h5 Frontend
        %ul
          %li jQuery
          %li MooTools
          %li Prototype
        %h5 Backend
        %ul
          %li Ruby on Rails
          %li Sinatra
          %li NodeJS
          %li Django
          %li CodeIngiter
          %li WordPress
