!!! 5
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %title Hyperbole Design
    %meta{:content => "Jake Dahn", :name => "Author"}/
    %meta{:content => "index, all", :name => "Robots"}/
    %meta{:content => "Portfolio of HyperboleDesign, a small web design and development shop based out of Minneapolis.", :name => "Description"}/
    %link{ :rel => "icon", :href => "/images/favicon.ico"}
    %link{:href => "/css/style.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %script{:charset => "utf-8", :src => "/js/jquery.js", :type => "text/javascript"}
    %script{:charset => "utf-8", :src => "/js/jquery.form.js", :type => "text/javascript"}
    %script{:charset => "utf-8", :src => "/js/applications.js", :type => "text/javascript"}
  %body
    #top_layer &nbsp;
    #header
      %h1
        %a{:href => "/", :title => "Hyperbole Design"} Hyperbole Design
      %ul#nav
        %li
          %a{:href => "#about", :title => "Find out more about HyperboleDesign and Jake Dahn."} About
        %li
          %a{:href => "#work", :title => "Look at the work from HyperboleDesign and Jake Dahn."} Work
        %li
          %a{:href => "#contact", :title => "Contact HyperboleDesign and Jake Dahn by filling out the contact form."} Contact
        %li
          %a{:href => "#resume", :title => "See the experience of HyperboleDesign and Jake Dahn."} Resume
        %li
          %a{ :id => "footer_nav_link", :href => "#footer", :title => "FOOTER!"} Footer
    #wrapper
      #content
        = yield
      
    <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-11907887-12']);
    _gaq.push(['_trackPageview']);

    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    </script>
    
    <a title="Web Analytics" href="http://getclicky.com/66394425"><img alt="Web Analytics" src="http://static.getclicky.com/media/links/badge.gif" border="0" /></a>
    <script src="http://static.getclicky.com/js" type="text/javascript"></script>
    <script type="text/javascript">try{ clicky.init(66394425); }catch(err){}</script>
    <noscript><p><img alt="Clicky" width="1" height="1" src="http://in.getclicky.com/66394425ns.gif" /></p></noscript>
    
    <script type="text/javascript">document.write(unescape('%3Cscript type="text/javascript" src="'+document.location.protocol+'//dnn506yrbagrg.cloudfront.net/pages/scripts/0011/2296.js"%3E%3C%2Fscript%3E'))</script>
    