!!!
%html{:lang => "en", "xml:lang" => "en"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %title Hyperbole Design
    %meta{:content => "Jake Dahn", :name => "Author"}/
    %meta{:content => "index, all", :name => "Robots"}/
    %meta{:content => "Portfolio of HyperboleDesign, a small web design and development shop based out of Minneapolis.", :name => "Description"}/
    %link{:href => "/css/style.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %script{:charset => "utf-8", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js", :type => "text/javascript"}
    %script{:charset => "utf-8", :src => "/js/applications.js", :type => "text/javascript"}
  %body
    #bottom_layer &nbsp;
    #top_layer &nbsp;
    #header
      %h1
        %a{:href => "#"} Hyperbole Design
      %ul#nav
        %li
          %a{:href => "#about", :title => "Find out more about HyperboleDesign and Jake Dahn."} About
        %li
          %a{:href => "#work", :title => "Look at the work from HyperboleDesign and Jake Dahn."} Work
        %li
          %a{:href => "#contact", :title => "Contact HyperboleDesign and Jake Dahn by filling out the contact form."} Contact
        %li
          %a{:href => "#resume", :title => "See the experience of HyperboleDesign and Jake Dahn."} Resume
    #wrapper
      #content
        = yield
      #footer
        %p.copy Copyright &copy; 2010 &mdash; Jake Dahn
